spring:
  application:
    name: jpcard

  datasource:
    url: jdbc:h2:mem:jpcard;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
    open-in-view: true

logging:
  level:
    org.hibernate.SQL: debug

jwt:
  secret: bT9fV0l6S1p3N2xqYThRMnRFS1pYbG1yUTZ6c2pHa2l4d0tEdTN5b0Z6Y0V1cGJvYjF4M1E3Z1E=
